@import url('https://fonts.googleapis.com/css2?family=Playfair:opsz,wght@5..1200,300;5..1200,400;5..1200,500;5..1200,600;5..1200,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');




html {
    font-size: 18px;
    padding: 0;
    margin: 0;
}

/* nav */ 
            
.nav{
    width:100%;
    background:#f6f6f6;
    position:fixed;
    top:0;
    height:50px;
    display:flex;
    justify-content:flex-end;    
}

.nav__list{
	float: right;
	list-style: none;
	margin: 0;
	padding: 10px;
	position: fixed;
    width:100%;
    background:#f6f6f6;
    padding-bottom: 0;
}

.nav__list a{
	display:block;
	color:#3C5E0F;
	text-decoration:none;
	font-weight: 350;
	font-size: 1.2rem;
	padding:0 15px;    
    font-family: 'Roboto', 'Open Sans', sans-serif;
}
 
.nav__list a:hover{
	color: #fff;
    font-weight: 450;
}

.nav__list li{
	position: relative;
	float:  right;
	margin: 0;
	padding: 0;
    color: #3C5E0F;
}

.nav__list li:hover{
    border-bottom:3px solid #BFDD5A;
    color: #3C5E0F;
    background: #3C5E0F;
    font-weight: 600;
}

.nav__list ul{
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background-color: #fff;
	padding: 0;
	list-style: none;
}

.nav__list ul li{
	float: none;   
	width: 300px;
    
}

.nav__list ul a:hover{
	line-height: 120%;
	padding: 10px 15px;    
    color: #fff;
   
}

.nav__list ul ul{
	position: absolute;
	top: 0;
	left: 50%;
	background-color: #f6f6f6;
}

.nav__list li:hover > ul{
	display: block;
}



/* top*/
.botonScrollTop {
    position: fixed;
    height: 45px;
    width: 42px;
    background-color: #AB381B;
    right: 30px;
    bottom: 30px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    font-size: 25px;
    border-radius: 5px;
    cursor: pointer;
}

/* footer */
footer {
    background-color: #f6f6f6;
    max-width: 100%;
    max-height: 100%;
    background-image: url("https://i.pinimg.com/originals/95/87/eb/9587eb0dd8e58fdbaef46fce14e582ee.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 60px;
}

.footer-basic {
    background-color:#f6f6f6;
    background: linear-gradient(0deg, rgba(60,94,15,1) 10%,rgba(246,246,246,.75) 20%, rgba(246,246,246,1) 100%);    
    clip-path: polygon(0% 0%, 90% 0, 80% 51%, 70% 100%, 0% 100%);
    margin: 0px;
}

.footer-basic .h2F{
    font-family: 'Playfair';
    color: #75AC2C;
    font-weight: 500;
    font-size: 1.3rem;     
    
    padding-left: 15px;
}

.footer-basic .pF{   
    color: #3C5E0F;
    font-weight: 250;
    font-size: 0.85rem; 
    line-height:1.2;        
    font-family: 'Roboto', 'Open Sans', sans-serif;
    
    padding-left: 15px;
}

@media screen and (max-width: 550px) {
    .nav__list a{
        font-size: .75rem;
    }
}