@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

html { font-size: 17px;
  scroll-behavior: smooth;
   } 

body{
    font-family: 'Raleway';
    background-color:  #8bc63e;
}
h1{
    font-weight: 2rem;
  }

  h2 {
    font-weight: 1.5rem;
    color: #28377C;
  }

  h3{
    font-size: 1.3rem;
    color: #1B75BC;
  }
  
  h4{
    font-size: 1.15rem;
    color: rgb(7,24,58);
  }

#logo {
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
    background-color: rgb(255,255,255);
    /* background-color: rgb(0,0,0,.35); */
    height: 15vh;
    padding: .25rem;
    clip-path: polygon(100% 0, 0 0, 100% 100%);
}

/* video container styling */ 

.video-container {
  position: relative;
  max-height: 800px;  
}
 
.video-container .dark-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background: #000;
  opacity: 0.5;
  
}
.video-container video {
  height: auto;
  vertical-align: top;
  width: 100%;
  height: 800px;
  object-fit: cover;
  
  
}
.video-container .overlay-desc {
  position: relative;
  z-index: 999;
  max-width: 900px;
  margin: 0 auto;
  background: rgba(0,0,0,0);
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}


.video-container .overlay-desc h1 {
  color: white;
  font-size: 3.5rem;
  font-family: 'Raleway';
  font-weight: 700;
}
.video-container .overlay-desc h2 {
  color: white;
  font-size: 2rem;
  font-family: 'Raleway';
  font-weight: 300;
}



@media only screen and (max-width: 467px) {
  .video-container .overlay-desc h1 {
    font-size: 1.5rem !important;
    line-height: 1.2;
  }
  .video-container .overlay-desc h1 br {
    display: none;
  }  
  .video-container .overlay-desc p:not(.p-smaller) {
    font-size: 0.9rem;
    line-height: 1;
  }
  .video-container .overlay-desc .action_button {
    font-size: 14px;
  }
}

/* footer */ 
.footer-basic {
  padding:20px 0;
  background-color:#ffffff;
  color:#8bc63e;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 100% 100%, 0 100%, 0% 50%);
}

/* .footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
} */

.footer-basic .social {
  text-align:center;
  padding-bottom:15px;
}

.footer-basic .social > a {
  font-size:1.5rem;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #1B75BC;
  margin:0 8px;
  /* color:inherit; */
  /* opacity:0.75; */
}

.footer-basic .social > a:hover {
  
  font-size:1.5rem;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:2px solid #28377C;
}

.footer-basic .copyright {
  margin-top:10px;
  text-align:center;
  font: size 0.3em;;
  color:#8bc63e;
  margin-bottom:0;
}

/* scroll top */
.goto-top{
  position:fixed;
  bottom:60px;
  right:0px;
  padding:20px;
  color:#fff;
  background:rgba(40, 55, 124,0.75);
  border:none;
  text-decoration: none;
  text-align: center;
}
.goto-top:hover{
  background: #1B75BC;
  color:#fff;
}

/* mapa */
.mapa{
  padding-left: 35px;
  
}

/* form */

.form{
  background-color: #28377C;
}

.alertaRoja{
  color: red;
  padding-top: 5px;
  font-weight: 700;
}
.alertaVerde{
  color: #648E2B;
  padding-top: 5px;
  font-weight: 700;
}

/* WA */
.float{
	position:fixed;
	width:35px;
	height:35px;
	bottom:20px;
	right:10px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:1.35rem;
  z-index:100;
}
a:hover{
  background-color:#075E54;
  color:#fff;
  border-radius:0px;
}

.my-float{
	margin-top:16px;
}